<h2>Search Book</h2>
<form action="/books" method="GET">
    <div>
        <label for="textInput">Title</label>
        <input id="textInput" type="text" name="title">
    </div>
    <div>
        <label for="beforeIn">Published Before</label>
        <input id="beforeIn" type="date" name="publishedBefore">
    </div>
    <div>
        <label for="AfterIn">Published After</label>
        <input id="AfterIn" type="date" name="publishedAfter">
    </div>
    <input type="submit" value="Search">
</form>
<div>
    <% books.forEach(book => { %>
      <img height="150" width="100" src="<%= book.coverImagePath %>">
    <% }) %>
  </div>
